*{
    padding: 0;
    margin: 0;
}

.container{
    border: 8px solid green;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    width: 600px;
}
.container1{
    border: 1px solid rgb(215, 13, 64);
    background-color: rgb(125, 161, 111);
    display: flex;
    flex-direction: column;
}
.container2{
    border: 1px solid rgb(50, 148, 68);
    background-color: rgb(179, 200, 62);
}

#box1, #box2, #box3{
    width: 200px;
    height: 200px;
    background-color: pink;
    margin: 10px;
    border: 5px solid black;
}

@media(max-width:640px){
    .container{
        display: flex;
        flex-direction: column;
    }
}