*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    display: grid;
    background-color: rgb(115, 128, 214);
    padding: 50px;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px,400px));
}

.item{
    background-color: rgb(158, 96, 96);
    border: 1px solid black;
}