*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    background-color: rgb(216, 152, 74);
    padding: 20px;
    gap: 2rem;

    grid-template-areas: 
        "header header header"
        "sidebar content1 content1"
        "sidebar content2 content3"
        "footer footer footer"
    ;
}

.item{
    background-color: rgb(51, 123, 123);
    border: 2px solid black;
    padding: 10px;
    color: aliceblue;
    text-align: center;
}

.header{
    grid-area: header;
}

.sidebar{
    grid-area: sidebar;
}

.content1{
    grid-area: content1;
}

.content2{
    grid-area: content2;
}

.content3{
    grid-area: content3;
}

.footer{
    grid-area: footer;
}