*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
}

.box{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    border-radius: 15px;
    margin: 10px;
    background-color: antiquewhite;
}

@media(max-width:680px){
    .container{
        display: flex;
        flex-direction: column;
    }
    .box{
        background-color: palevioletred;
    }
}

@media(min-width:680px){
    .container{
        display: flex;
        flex-direction: row;
    }
    .box{
        background-color: rgb(91, 142, 200);
    }
}